body {
  --twitter-color: rgb(29, 155, 240);
  --twitter-background: #e6ecf0;
  --icon-background: #e1eef7;
  --border: 1px solid var(--twitter-background);
  --twitter-gray: #f7f9f9;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
}
